
@model List<BeautySpecialistModel>
@{
    ViewData["Title"] = "Home page";
}

<input type="text" />

<div class="text-center">
   <table class="table">
       <thead>
           <tr>
               <th scope="col">
                   #
               </th>
                 <th scope="col">
                   Name
               </th>
                 <th scope="col">
                   Actions
               </th>
           </tr>
       </thead>
       <tbody>
            @foreach(var specialist in Model)
            {
                <tr>    
                    <th scope="row">@(Model.IndexOf(specialist)+1)</th>
                    <td>@specialist.Name</td>
                    <td>><a asp-area="" asp-controller="Home" asp-action="View" asp-route-index="@(Model.IndexOf(specialist))">View</a> |
                        <a asp-area="" asp-controller="Home" asp-action="Delete" asp-route-index="@(Model.IndexOf(specialist))">Delete</a></td>
                </tr>
            }
        </tbody>
   </table>
</div>
